
.principal {
    padding: 0px 15%;
    margin-top: 180px;
}

.atracao {
    position: relative;
    display: flex;
    gap: 50px;
    margin: 50px 0px;
    align-items: center;
}

.atracao--impar {
    flex-direction: row-reverse;
    text-align: right;
}

.atracao__imagem {
    z-index: 2;
    height: 300px;
    width: auto;   
    box-shadow: 2px 2px 4px rgba(50, 50, 50, .1);
}

.atracao__titulo {
    font-family: var(--tittle-font);
    font-weight: var(--tittle-weight);
    margin-bottom: 10px;
}

.oferta {
    text-align: center;
    padding: 25px 0;

}

oferta__titulo{
    margin-bottom: 20px;
}