.principal {
    margin-top: 180px;
    padding: 0px 15%;
}

.atracao {
    display: flex;
    gap: 50px;

    margin: 50px 0px;
    align-items: center;

    position: relative;
}

.atracao--impar {
    flex-direction: row-reverse;
    text-align: right;
}

.atracao__imagem {
    height: 300px;
    width: auto;   
    box-shadow: 2px 2px 4px rgba(50, 50, 50, .1);
    z-index: 2;
}

.atracao__titulo {
    font-family: var(--tittle-font);
    font-weight: var(--tittle-weight);
    margin-bottom: 10px;
}

.oferta {
    text-align: center;
    padding: 25px 0px;
}

.oferta__tipo {
    margin-bottom: 20px;
}